set_io led_r 39
set_io led_b 41
set_io led_g 40
set_io pmod_1 25
set_io pmod_2 26
set_io pmod_3 27
set_io pmod_4 28
set_io clki_alt 20
set_io clki 44
set_io user_1 48
set_io user_2 47
set_io uesr_3 46
set_io user_4 45
set_io user_5 42
set_io user_6 38
set_io spi_mosi 14
set_io spi_miso 17
set_io spi_clk 15
set_io spi_io2 18
set_io spi_io3 19
set_io spi_cs 16
set_io uart_tx 21
set_io uart_rx 13
set_io usb_dn 37
set_io usb_dp 34
set_io usb_dp_pu 35
set_io usb_dn_pu 36