set_io rgb0 A5
set_io rgb1 B5
set_io rgb2 C5
set_io clki F5
set_io spi_mosi F1
set_io spi_miso E1
set_io spi_clk D1
set_io spi_cs C1
set_io pin1 F4
set_io pin2 E5
set_io pin3 E4
set_io pin4 F2
set_io usb_dn A2
set_io usb_dp A4
